.main {
    position: relative;
}

.switch {
    position: absolute;
    top: 25px;
    left: 700px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: goldenrod;
    overflow-x: hidden;
    padding: 20px 10px;
    box-sizing: border-box;
}

textarea {
    width: 200px;
    height: 100px;
  }

.list_body {
    margin-left: 250px;
    padding: 20px 10px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.toggle input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 15px;
}
  
.slider.round:before {
    border-radius: 50%;
}
  
  