#main {
    position: relative;
}

body {
    background-image: url("resources/landing_image.jpeg");
    height: 100%;
    background-size: cover;
}

#login_button {
    background-color: rgb(230, 204, 139);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.title {
    margin-top: 350px;
    text-align: center;
}

.login {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
}

.modal_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal_content span {
    color: goldenrod;
}

.modal_content .close {
    color: lightcoral;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
input {
    margin: 5px;
}

li {
    border-style: solid;
    border-width: 2px;
    border-color: goldenrod;
    border-radius: 5px;
    width: 75%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    list-style-type: none;
}

#countdown {
    color: goldenrod;
}

.edit_button {
    background-color: lightblue;
    border-radius: 5px;
    color: white;
}

.no_button {
    background-color: lightblue;
    border-radius: 5px;
    color: white;
}

.delete_button {
    background-color: lightcoral;
    border-radius: 5px;
    color: white;
}

#delete_content {
    padding: 10px;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: goldenrod;
    overflow-x: hidden;
    padding: 40px 10px;
    box-sizing: border-box;
}

textarea {
    width: 200px;
    height: 100px;
  }

.list_body {
    margin-left: 250px;
    padding: 20px 10px;
}

#events {
    position: relative;
}

#toggle_button {
    position: absolute;
    top: -45px;
    right: 30%;
    background-color: lightslategray;
    color: white;
    border-radius: 5px;
}

.fc-prev-button {
    background-color: goldenrod;
}

.fc-prev-button:hover {
    background-color: rgb(194, 145, 22)
}

.fc-next-button {
    background-color: goldenrod;
}

.fc-next-button:hover {
    background-color: rgb(194, 145, 22)
}

.fc-today-button {
    background-color: lightslategray;
}

.fc-day-grid-event {
    background-color: goldenrod;
    border: none;
    color: black;
}

#calendar_div {
    width: 75%;
}
